apiVersion: apps/v1
kind: Deployment
metadata:
  name: captureorder
  labels:
    app: captureorder
spec:
  replicas: 1
  selector:
    matchLabels:
      app: captureorder
  template:
    metadata:
      labels:
        app: captureorder
    spec:
      containers:
        - name: captureorder
          image: torosent/captureorderack
          resources:
            limits:
              cpu: 500m
            requests:
              cpu: 100m
          env:
            - name: TEAMNAME
              value: paradise-pd
            - name: CHALLENGEAPPINSIGHTS_KEY
              value: helloworld
            - name: MONGOURL
              value: {{ .Values.mongoUrl }}
          ports:
            - containerPort: 8080
